<div class="card" *ngFor="let item of items" style="width: 22rem;" [routerLink]="['/catalog/'+item.key]">
    <div *ngIf="item.postOwner===authService.userData.uid">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <button type="button" [routerLink]="['/catalog/'+item.key]"
                class="btn btn-sm btn-outline-primary">Details</button>
            <button type="button" [routerLink]="['/edit/'+item.key]"
                class="btn btn-sm btn-outline-secondary">Edit</button>
            <button type="button" (click)="CRUD.deleteItem(item.key)"
                class="btn btn-sm btn-outline-warning">Delete</button>
        </div>
    </div>
</div>