<body>
    <div class="container">
        <header>Login Form</header>
        <form class="signin" (ngSubmit)="submit(userEmail.value, userPassword.value)">
            <div class="formGroup">
                <input type="email" #userEmail name="email" required>
                <label>Email</label>
            </div>
            <div class="formGroup">
                <input class="pswrd" type="password" #userPassword name="password" required>
                <label>Password</label>
            </div>
            <div class="button">
                <div class="inner"></div>
                <button>LOGIN</button>
            </div>
        </form>
        <div class=" auth">
            Or login with
        </div>
        <div class="links">
            <div class="google">
                <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
                    <i class="fab fa-google-plus-square"><span>Google</span></i>
                </button>
            </div>
        </div>
        <div class="signup">
            Not a member? <a href="/register">Signup now</a>
        </div>
    </div>
</body>